<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>#{msjs.mensajeLoginTitulo}</title>
         <h:outputStylesheet library="css"  name="estilos.css"/>
    </h:head>
    <h:body >
            <ui:composition template="templates/master.xhtml">
            <ui:define name="titulo">
            #{msjs.mensajeLoginHead}
            </ui:define>
                <ui:define name="encabezado">
                <ui:include src="secciones/login/header.xhtml"/>
            </ui:define>
            <ui:define name="lado">
                <ui:include src="secciones/login/ladoizq.xhtml"/>
            </ui:define>
            <ui:define name="contenido">
                <h:form> 
                <div align="center" class="index">
                <hr/>
                <h:panelGrid columns="1"  >
                    <h:outputLabel>
                        #{msjs.indexLabel1}:
                    </h:outputLabel>
                    <h:inputText id="uno"  required="true" value="#{cuate.user}"/> 
                    <h:message for="op1" styleClass="msj"/>
                    <h:outputLabel>                    
                        #{msjs.indexLabel2contraseña}:
                    </h:outputLabel>      
                     <h:inputText id="dos"  required="true" value="#{cuate.password}"/> 
                    <h:message for="op2" styleClass="msj"/>                     
                </h:panelGrid>
        <hr/>
            <h:panelGroup>
                <h:commandButton value="Entrar "  action="#{cuate.pagoCuotas()}"/>
                      <h:commandButton value="Cancelar"/>
            </h:panelGroup>  
                <hr/>
                </div>
                </h:form>            
        </ui:define>            
        </ui:composition>
    </h:body>
</html>

