<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{msjs.indexTitulo}</title>
        <h:outputStylesheet library="css" name="estilos.css"/>
    </h:head>
    <h:body>
       
        
        <h:form>
            <h:dataTable styleClass="tabla" value="#{tableData1.cuates}" var="cuate" captionClass="caption" rowClasses="impar,par">
                <f:facet name="caption">#{msjs.pageTitulo} </f:facet>
                
                <h:column headerClass="header" footerClass="pie">
                    <f:facet name="header"> #{msjs.headerColumna1}</f:facet>
                    #{cuate.apellidos}
                    <f:facet name="footer"> #{msjs.pieColumna1}</f:facet>
                </h:column>
                
                <h:column headerClass="header" footerClass="pie">
                    <f:facet name="header"> #{msjs.headerColumna2}</f:facet>
                    #{cuate.nombres}
                    <f:facet name="footer"> #{msjs.pieColumna2}</f:facet>
                </h:column>
                
                <h:column headerClass="header" footerClass="pie">
                    <f:facet name="header"> #{msjs.headerColumna3}</f:facet>
                    #{cuate.cuotas}
                    <f:facet name="footer"> #{msjs.pieColumna3}</f:facet>
                </h:column>
                                
                <h:column headerClass="header" footerClass="pie">
                    <f:facet name="header"> #{msjs.headerColumna5}</f:facet>
                    <h:graphicImage library="img" name="#{cuate.foto}.jpg"/>
                    <f:facet name="footer"> #{msjs.pieColumna5}</f:facet>
                </h:column>
                
            </h:dataTable>
        </h:form>
        
    </h:body>
</html>




